.container2 {
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

p {
	line-height: 1.8em;
	font-size: inherit !important;
	margin: inherit !important;
	margin-bottom: 16px !important;
}

h1, h2, h3, .h1, .h2, .h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.badge {
	text-transform: none !important;
	font-size: 75%;
}

.progress-bar-default {
	background-color: #6c757d;
}