.container2 {
	max-width: 1000px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

a {
	font-weight: bold;
}

.nav a {
	font-weight: normal;
}

p {
	line-height: 1.8em;
	font-size: inherit !important;
	margin: inherit !important;
	margin-bottom: 16px !important;
}

h1, h2, h3, .h1, .h2, .h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.badge {
	text-transform: none !important;
	font-size: 75%;
}

.progress-bar-default {
	background-color: #6c757d;
}

.skill-badges {
	min-height: 80px;
	margin-bottom: 20px;
}

.nav-pills .telegram-link:hover {
    color: #ffffff;
    background-color: #2196f3 !important;
}

.nav-pills .gmail-link:hover {
    color: #ffffff;
    background-color: #c71610 !important;
}

.nav-pills .linkedin-link:hover {
    color: #ffffff;
    background-color: #0077b5 !important;
}

.nav-pills .twitter-link:hover {
    color: #ffffff;
    background-color: #00aced !important;
}

.nav-pills .nav-item {
	display: inline-block;
}

.project-thumb {
	height: 250px;
	background-size: 100%;
	background-position: top center;
	transition: .5s
}

.project-thumb:hover {
	background-size: 110%;
	transition: .5s
}

.project-thumb-small {
	height: 150px;
}

.font-regular {
	font-weight: normal !important; 
}

.project-badges {
	margin: 10px 0;
}

.block {
	margin-top: 48px;
}